Flask==2.2.2
Werkzeug==2.2.2
opentelemetry-api==1.13.0
opentelemetry-sdk==1.13.0
opentelemetry-exporter-otlp==1.13.0
opentelemetry-instrumentation-flask==0.34b0
opentelemetry-instrumentation-requests==0.34b0
requests==2.22.0
